<?xml version="1.0" encoding="UTF-8"?>

<suite name="Default suite" parallel="methods" verbose="3">

    <listeners>

        <listener class-name="com.demo.listener.TestListener" />

    </listeners>

    <test name=" First test" skipfailedinvocationcounts="false">

        <classes>

            <class name="com.demo.project.HomePageTest">

            </class>

        </classes>

    </test>
    <reporters>
        <reporter type="html" output-directory="test-output"/>
    </reporters>

</suite>
